.mod-row-gi-su {
    padding-bottom: 0rem !important;
    margin-left: auto;
}

.mod-exec-cards {
    margin: 0!important;
    width: 97%!important;
}

.pad-left {
    padding-left: 1rem;
}

#sponsors {
    padding-top: 0rem;
}

.sponsordeck {
    margin: 2rem auto!important;
}

.customWideContainer {
    width: 80%;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
}

.card-header-custom {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    height: 205px;
    margin-bottom: 125px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-heading-custom {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em !important;
}

.card-img-custom {
    width: 250px !important;
    height: 250px !important;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 10px 29px 0 #afafaf;
}

.card-body-custom {
    padding: 10px;
    margin: 10px;
}

.card-custom {
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 29px 0 #afafaf;
    transition: all 0.3s ease-in-out;
}

.card-custom:hover {
    transform: scale(1.05);
}

.card-deck-custom {
    width: 95%;
    margin-left: 0;
}

.card-deck-custom-small {
    width: 80%;
    margin-left: -2%;
}

.card-img-custom-small {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 10px 29px 0 #afafaf;
}

.card-body-custom-small {
    width: calc(100% - 50px);
    text-align: left;
    margin: 0;
}

.card-body-custom-small>.card-title {
    margin-bottom: 0;
}

@media (max-width: 1400px) {
    #about2 {
        width: 120%;
        margin-left: -10%;
    }
}

@media (max-width: 1350px) {
    .card-deck-custom-small {
        width: 75%;
        margin-left: -2%;
    }

    .card-deck-custom {
        width: 90%;
        margin-left: 0;
    }

    .card-header-custom {
        height: 210px;
    }

    .card-heading-custom {
        font-size: 1.25em !important;
    }
}

@media (max-width: 1200px) {
    .card-header-custom {
        margin-bottom: 85px;
    }

    .card-img-custom {
        width: 200px !important;
        height: 200px !important;
    }
}

@media (max-width: 1000px) {
    .card-deck-custom-small {
        width: 66%;
        margin-left: 0;
    }

    .card-deck-custom {
        width: 90%;
        margin-left: 0;
    }

    .card-img-custom {
        width: 180px !important;
        height: 180px !important;
    }

    .card-header-custom {
        height: 175px;
        margin-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .card-deck-custom {
        display: block;
        width: 90%;
        margin-left: 0;
    }

    .card-custom {
        margin-bottom: 40px !important;
    }

    .card-heading-custom {
        font-size: 1.1em !important;
    }
}

@media (max-width: 900px) {
    .card-deck-custom {
        display: block;
        width: 90%;
        margin-left: 0;
    }

    .card-custom {
        margin-bottom: 40px !important;
    }

    .card-deck-custom-small {
        width: 80%;
        margin-left: -2%;
    }

    .card-header-custom {
        height: 170px;
    }

    .card-body-custom {
        padding-right: 3px;
        padding-left: 3px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 825px) {
    .card-deck-custom {
        display: block;
        width: 90%;
        margin-left: 0;
    }

    .card-deck-custom-small {
        display: block;
        width: calc(100% - 100px);
        margin-left: 0;
    }

    .card-custom {
        margin-bottom: 40px !important;
    }

    .card-header-custom {
        margin-bottom: 80px;
    }

    .card-heading-custom {
        font-size: 2em;
    }
}